@page "{EmployeeId:int?}"
<!--note Employee is bound to Employee InputModel, except EmployeeId param-->
@model NET_9_Business_App_Razor_Pages.Pages.EmployeesModel
@{
    Layout = "_Layout";
}
<style>

    label{
        display: inline-block;
        width: 12.5rem;
    }

    li {
        list-style-type: none;
    }
</style>
<h3 style="color:mediumseagreen;">Employee Details</h3>

<h4>EmployeeId: @Model.EmployeeId</h4>
<br />
<!--error check and display-->
<!--null check first-->
@if(Model is not null && 
    Model.Employee is not null && 
        Model.Employee.ErrorMessages is not null)
{
    <h4 style="color:orangered;">Error Messages:</h4>
    <div id="errorMessageBoard" style="margin-left: 28%; padding:1rem; border:2px dotted red; width:50%;">
        <ul>
            @foreach (var errorMessage in Model.Employee.ErrorMessages)
            {
                <li style="color:orangered;">@errorMessage</li>
            }
        </ul>
    </div>
}<!--end error check and display module-->
    
    <!--form body-->
    <div id="form" style="text-align:left;margin-left:28%;padding-bottom:1.5rem;">
        <form method="post" action="/employees/edit/@Model!.EmployeeId?handler=save" >
        @Html.AntiForgeryToken()
        <input type="hidden" name="employee.EmployeeId" value="@Model.EmployeeId" />
        <p>
            <label>Employee First Name:  </label>
            <input type="text" name="employee.EmployeeFirstName" value="@Model.Employee?.EmployeeFirstName" />
        </p>
        <p>
            <label>Employee Last Name:  </label>
            <input type="text" name="employee.EmployeeLastName" value="@Model.Employee?.EmployeeLastName" />
        </p>
        <p>
            <label>Employee Department:  </label>
            <input type="text" name="employee.EmployeeDepartment" value="@Model.Employee?.EmployeeDepartment" />
        </p>
        <p>
            <label>Employee Position:  </label>
            <input type="text" name="employee.EmployeePosition" value="@Model.Employee?.EmployeePosition" />
        </p>
        <p>
            <label>Employee Salary:  </label>
            <input type="text" name="employee.EmployeeSalary" value="@Model.Employee?.EmployeeSalary" />
        </p>
        <!--save button-->
        <button type="submit" class="btn btn-outline-success btn-sm" style="width:3.5rem; margin-bottom:0.75rem;">Save</button>

    </form>

<!--delete button-->
    <form method="post" action="/employees/edit/@Model.EmployeeId?handler=delete">
    @Html.AntiForgeryToken()
    <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
    <button type="submit" class="btn btn-outline-danger btn-sm" >
        Delete
    </button>

</form>
</div>
